@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/NotoSansJP-Regular.ttf) format("truetype");
}

/****************************
General
****************************/
html,
body {
  z-index: 0;
  letter-spacing: 0.1em;
  color: #000852;
  background-color: #ffaa7b;
  max-width: 100%;
  overflow-x: hidden;
}

::-moz-selection {
  background: #ffaa7b;
}
::selection {
  background: #ffaa7b;
}

.fade {
  opacity: 0;
}

/****************************
Nav bar
****************************/
.navbar {
  z-index: 20;
}

.my-nav-link {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 4rem;
  margin-right: 1rem;
  color: #000852;
}

.nav-link-active {
  border-bottom: 2px solid #000852;
  padding-bottom: 5px;
}

.my-nav-link:hover {
  color: #ffffff;
  text-decoration: none;
}
.my-nav-link:active {
  color: #ffffff;
}

.nav-link-active:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
}

.menu-icon {
  height: 2rem;
}

.my-nav-link svg {
  fill: #000852;
}
.my-nav-link svg:hover {
  fill: #ffffff;
}

.hamburger{
  width:30px;
}

/****************************
Hero
****************************/
.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 15%;
  background-color: #ffaa7b;
}
.hero-image-wrapper {
  position: relative;
  z-index: 5;
}
.hero-image {
  width: 60%;
  position: absolute;
  left: 0px;
  top: 40%;
  z-index: 5;
  animation: animateHero 2s ease;
}
.hero-image-background {
  width: 65%;
  position: absolute;
  left: -30px;
  top: 40%;
  z-index: 0;
  animation: animateHeroBackground 2s ease;
}
@keyframes animateHero {
  0% {
    opacity: 0;
    transform: translate(-30px, 0px);
  }
  30% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    transform: translate(-30px, 0px);
  }
  95% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes animateHeroBackground {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  85% {
    opacity: 0;
    transform: scale(0.8);
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
}

.hero-title-wrapper {
  z-index: 10;
}

.hero-title {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.45em;
  margin-top: 10rem;
  -webkit-text-fill-color: #ffaa7b; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000852;
  animation: animateHeroTitle 1.5s ease;
}

.hero-title-fill {
  -webkit-text-fill-color: #000852; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: none;
  animation: animateHeroTitleFill 4s ease forwards;
}

.hero-subtitle {
  font-size: 1rem;
  color: white;
  background-color: #000852;
  font-weight: bold;
  display: inline-block;
  animation: animateHeroSubtitle 2s ease;
}

@keyframes animateHeroTitle {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

@keyframes animateHeroTitleFill {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animateHeroSubtitle {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  70% {
    opacity: 0;
    transform: translateY(-20px);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
}

.credits {
  font-size: 0.2rem;
  transform: rotate(90deg);
  transform-origin: left top 0;
  position: absolute;
  right: -10rem;
  bottom: 18rem;
  color: #000852;
}

.credits a {
  text-decoration: none;
  color: #000852;
}
/****************************
Schedule
****************************/
.section-schedule {
  background-color: #fff4cb;
  padding-top: 200px;
  padding-bottom: 100px;
}
.schedule-title {
  margin-bottom: 6rem;
}
.title-menu {
  font-size: 3rem;
}

.class-wrapper {
  width: 100%;
  margin-bottom: 10rem;
}

.class-text-wrapper {
  padding-right: 5rem;
}

.class-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

.class-time {
  font-size: 1.2rem;
  line-height: 120%;
  margin-bottom: 0.6rem;
}

.class-notes {
  font-size: 1rem;
  line-height: 140%;
  margin-bottom: 2rem;
}

.class-explanation {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 25px;
}

.class-fee {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 25px;
}

.class-image-wrapper {
  text-align: center;
}

.class-image {
  width: 100%;
}

.btn-book-wrapper {
  margin-top: 2rem;
  text-align: center;
}

.btn-book {
  display: inline-block;
  text-align: center;
  padding: 1.5rem 0;
  width: 60%;
  background-color: #000852;
  color: #ffffff;
  border-radius: 20px;
}

.btn-book:hover {
  color: #ffffff;
  background-color: #ffaa7b;
  text-decoration: none;
}
.btn-book:active {
  color: #ffffff;
  background-color: #ffaa7b;
  text-decoration: none;
}

.class-link {
  color: #ffaa7b;
  text-decoration: underline;
}

.class-link:hover {
  background-color: #ffaa7b;
  color: #000852;
  text-decoration: underline;
}

.class-link:active {
  color: #000852;
  text-decoration: underline;
}

/****************************
SLICK SLIDER
****************************/
.slick-dots {
  display: flex;
  position: static;
  justify-content: center;
  margin: 0;
  padding: 0.4rem 0;
}
.slick-dots li {
  position: static;
  margin: 1rem 0.5rem 0;
  font-size: 0;
}
.slick-dots li button {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #c4c4c4;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background-color: #ffaa7b;
}
.slick-slider {
  max-width: 720px;
}

/****************************
Subscription
****************************/
.section-subscriptionAbout {
  background-color: #fff4cb;
  padding-top: 200px;
  padding-bottom: 200px;
}

.subscription-title {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 4rem;
}

.subscription-explanation {
  width: 60%;
  margin-top: 4rem;
  line-height: 28px;
}

.btn-subscription {
  display: inline-block;
  text-align: center;
  padding: 1.5rem 2rem;
  margin-top: 2rem;
  background-color: #000852;
  color: #ffffff;
  border-radius: 20px;
  font-weight: bold;
  position: relative;
  z-index:3;
}

.btn-subscription:hover {
  color: #ffffff;
  background-color: #ffaa7b;
  text-decoration: none;
}
.btn-subscription:active {
  color: #ffffff;
  background-color: #ffaa7b;
  text-decoration: none;
}

.subscription-icon-wrapper {
  position: relative;
}

.subscription-icon {
  padding: 2rem 1rem;
  font-size: 5rem;
  writing-mode: vertical-rl;
  border: 3px solid #001652;
  border-radius: 10px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000852;
  -webkit-text-fill-color: #fff4cb;
  transform: rotate(3deg);
  font-weight: 700;
  line-height: 115%;
  position: absolute;
  bottom: 0px;
  animation: animateSubscription 2s ease infinite;
}

@keyframes animateSubscription {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0px;
  }
}

.section-subscriptionContents {
  padding: 6rem 0;
}

.subscriptionContents-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.subscriptionContents-title {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin: 0 15px;
}

.subscriptionContents-title-line {
  width: 100%;
  height: 2px;
  background-color: #000852;
  border-radius: 10px;
}

.subscriptionContents-explanation {
  font-size: 1.2rem;
  width: 50%;
}

.subscriptionContent-wrapper {
  display: flex;
  justify-content: center;
}

.subscriptionContent-border {
  position: relative;
  width: 90%;
  border: 4px dashed #ffffff;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.subscriptionContent-index {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: bold;
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscriptionContent-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}

.subscriptionContent-subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.subscriptionContent-explanation {
  margin-bottom: 2rem;
}

.subscriptionContent-image {
  border-radius: 10px;
  margin-top: auto;
}

.subscriptionContents-fee-wrapper {
  text-align: center;
  margin-top: 6rem;
}

.subscriptionContents-fee-pretext {
  font-size: 1.2rem;
  margin-bottom: 0;
  padding: 0;
}

.subscriptionContents-fee-small {
  font-size: 2rem;
  font-weight: bold;
}

.subscriptionContents-fee-large {
  font-size: 6rem;
  font-weight: bold;
  margin: auto 1rem;
}

.section-subscriptionWarning {
  background-color: #fff4cb;
  padding-top: 100px;
  padding-bottom: 100px;
}

.subscriptionWarning-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscription-warning-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
}

.subscription-warning-list {
  text-align: left;
  margin-bottom: 200px;
}

.subscription-warning-content {
  font-size: 1rem;
  margin-top: 1rem;
}

.subscription-CTA {
  font-size: 2rem;
  font-weight: bold;
  padding: 3rem 4rem;
  background-color: #000852;
  color: #ffffff;
  border-radius: 20px;
  text-align: center;
}

.subscription-CTA:hover {
  color: #ffffff;
  background-color: #ffaa7b;
  text-decoration: none;
}
.subscription-CTA:active {
  color: #ffffff;
  background-color: #ffaa7b;
  text-decoration: none;
}

/****************************
Meditation
****************************/
.section-meditationHero{
  background-color: #FFE7CB;
  padding: 250px 0;
}

.meditationHero-title{
  padding-top:20px;
  font-size:64px;
  line-height: 90px;
  font-weight:bold;
  margin-bottom: 20px;
}

.meditationHero-image{
  width:300px;
  padding:0;
}

.section-meditationQuestion{
  padding:80px 0;
  background-color: #FFF4CB;
}

.meditationQuestion-list{
   margin: 0 auto 60px;
}

.meditation-slide-image{
  box-shadow: 6px 6px 0px 2px #FFAA7B;
  border-radius: 10px;
}

.section-meditationAbout{
  padding:80px 0;
  background-color: #FFF4CB;
}

.meditationAbout-title{
  font-size: 32px;
  font-weight: bold;
  color:#FFFFFF;
  letter-spacing: 0.1em;
  background-color: #001652;
  padding:2px 4px;
  display: inline;
}

.meditationAbout-text{
  margin-top: 40px;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 150%;
}

.highlight-navy{
  background-color: #001652;
  color:white;
  font-weight: bold;
  padding: 0 4px;
}

.section-meditationCurriculum{
  padding:80px 0;
  background-color: #FFF4CB;
}

.meditationCurriculum-item{
  margin-bottom: 30px;
}

.last{
  margin-bottom: 60px;
}

.meditationCurriculum-title{
  height: 140px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  font-weight: bold;
  font-size: 28px;
  line-height: 140%;
  color: #001652;
  background: #FFFFFF;
  border: 4px solid #001652;
  border-radius: 10px;
}

.dotted{
  background-color: #FFF4CB;
  border: 4px dashed #001652;
}

.meditationCurriculum-plus{
  font-size: 64px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.section-meditationFee{
  padding:80px 0;
  background-color: #FFF4CB;
}

.meditationFee-item{
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
}

.meditationFee-number{
  width:60px;
  height:60px;
  border-radius: 100%;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  background-color: #001652;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meditationFee-wrapper{
  margin-left:60px;
}

.meditationFee-title{
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.1em;
}

.meditationFee-explanation{
  font-size: 24px;
  letter-spacing: 0.1em;
  margin:0;
}

.section-meditationCta{
  background-color: #ffaa7b;
  padding:150px 0;
}

.meditationCta-wrapper{
  text-align: center;
}

.large{
  font-size: 24px;
  padding: 30px 80px;
  margin:0 auto;
}

.large:hover {
  color: #001652;
  background-color: #ffffff;
  text-decoration: none;
}
.large:active {
  color: #001652;
  background-color: #ffffff;
  text-decoration: none;
}

.section-meditationTrial{
  background-color: #001652;
  padding:150px 0;
}

.trial{
  font-size: 24px;
  padding: 30px 80px;
  margin:0 auto;
  color:#001652;
  background-color: white;
}

.trial:hover {
  color: white;
  background-color: #ffaa7b;
  text-decoration: none;
}
.large:active {
  color: white;
  background-color: #ffaa7b;
  text-decoration: none;
}

.meditationTrial-title{
  color:white;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
}

.meditationTrial-text{
  color:white;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin-bottom: 40px
}

/****************************
Bullet
****************************/

.bullet-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.bullet-point{
  width:15px;
  height:15px;
  background-color: #ffaa7b;
  border-radius: 2px;
  align-self: flex-start;
  transform: translateY(8px);
}

.yellow{
  background-color: #FFE7CB;
}

.bullet-text{
  margin:0 10px;
  font-size: 18px;
  width:100%;
}

/****************************
Hypnobirthing
****************************/
.section-hypnobirthHero{
  background-color: #FFF4CB;
  padding: 250px 0 150px;
}

.hypnobirthHero-title{
  padding-top:20px;
  font-size:48px;
  font-weight:bold;
  line-height: 40px;
}

.hypnobirthHero-subtitle{
  font-size:36px;
  margin-bottom: 40px;
  font-weight:300;
}

.hypnobirthHero-image{
  width:200px;
  padding:0;
}

.hypnobirth-explanation {
  margin-top: 4rem;
  line-height: 28px;
}

.section-hypnobirthAbout{
  background-color: #FFE7CB;
  padding: 80px 0;
}

.hypnobirthAbout-explanation {
  font-size: 1.2rem;
}

.section-hypnobirthMerits{
  background-color: #FFE7CB;
  padding: 80px 0;
}

.section-hypnobirthContent{
  background-color: #FFE7CB;
  padding: 80px 0;
}

.hypnobirthContent-text{
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 150%;
}

.hypnobirthContent-border {
  position: relative;
  width: 100%;
  border: 3px dashed #ffaa7b;
  border-radius: 20px;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.hypnobirthContent-index {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: bold;
  background-color: #ffaa7b;
  color: white;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.hypnobirthContent-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}

.section-hypnobirthDetails{
  background-color: #FFF4CB;
  padding: 80px 0;
}

.hypnobirthDetails-item{
  width: 85%;
  margin-bottom: 30px;
}

.hypnobirthDetails-title{
  display: flex;
  font-weight: bold;
  font-size: 28px;
  line-height: 140%;
  color: #001652;
  margin-bottom: 40px;
}

.hypnobirthDetails-date{
  margin-bottom: 10px;
}

.hypnobirthDetails-date-left{
  font-size: 20px;
  font-weight:bold;
  margin-right: 20px;
  color:#FFAA7B;
}

.hypnobirthDetails-date-right{
  font-size: 20px;
}

.hypnobirthDetails-notes-heading{
  margin-bottom:0;
  font-weight: bold;
  margin-top: 40px;
}

.hypnobirthDetails-notes{
  margin-top: 0px;
  margin-bottom: 40px;
}

.hypnobirthDetails-notes li{
  margin: 6px 0;
}

.section-hypnobirthCta{
  background-color: #FFF4CB;
  padding: 0 0 80px;
}

.hypnobirthDetails-explanation{
  font-size: 1.2rem;
}

.hypnobirthDetails-explanation-bullets{
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 1rem;
}

.hypnobirthDetails-explanation-bullets li{
  margin: 6px 0;
}

/****************************
Favourites
****************************/
.section-favourites {
  background-color: #fff4cb;
  padding-top: 200px;
  padding-bottom: 200px;
}

.section-favourites.first {
  padding-top: 400px;
}

.section-favourites.orange {
  background-color: #ffe7cb;
}

.favourites-text-wrapper {
  opacity: 1;
  transition: opacity ease 1s;
}

.favourites-title {
  font-size: 2rem;
}

.favourites-text {
  font-size: 1rem;
  line-height: 25px;
  letter-spacing: 0.01em;
}

.favourites-image-wrapper {
  opacity: 1;
  text-align: center;
  transition: opacity ease 1s;
}

.favourites-image {
  width: 70%;
}

.btn-favourite-wrapper {
  margin-top: 2rem;
  text-align: left;
}

.btn-favourite {
  display: inline-block;
  text-align: center;
  padding: 1.5rem 0;
  margin-top: 2rem;
  width: 40%;
  background-color: #000852;
  color: #ffffff;
  border-radius: 20px;
  font-weight: bold;
}

.btn-favourite:hover {
  color: #ffffff;
  background-color: #ffaa7b;
  text-decoration: none;
}
.btn-favourite:active {
  color: #ffffff;
  background-color: #ffaa7b;
  text-decoration: none;
}

/****************************
Profile
****************************/
.section-profile {
  background-color: #ffaa7b;
  padding-top: 200px;
  padding-bottom: 20px;
}

.credits-profile {
  font-size: 0.6rem;
  transform: rotate(90deg);
  transform-origin: left top 0;
  color: #000852;
  position: relative;
  top: 15rem;
}

.credits-profile a {
  text-decoration: none;
  color: #000852;
}

.profile-image {
  width: 80%;
  border-radius: 5%;
  margin-bottom: 2rem;
}

.profile-title {
  font-weight: bold;
  font-size: 1rem;
}

.profile-text {
  font-size: 1rem;
  line-height: 25px;
}
.events-title {
  font-weight: bold;
  font-size: 1rem;
  margin: 2rem 0;
}
.events-list li {
  font-size: 1rem;
  margin-top: 1rem;
}
.events-year {
  margin-right: 2rem;
}

/**************
Say Hi
**************/

.section-say-hi {
  background-color: #fff4cb;
  margin: 50px 0 150px;
  padding: 8rem 2rem;
  border-radius: 12px;
}

.say-hi-text {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.2em;
  line-height: 40px;
}

.say-hi-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 1rem;
}

.say-hi-icon {
  height: 3rem;
  margin-left: 2rem;
  /*animation: animateIcons 2s ease infinite;*/
}

.say-hi-icon:hover {
  animation: animateIcons 1s ease forwards;
}

@keyframes animateIcons {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/****************************
Footer
****************************/
.section-footer {
  background-color: #ffffff;
  position: relative;
  height: 150px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.footer-copyright {
  position: absolute;
  margin:0;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 0.6rem;
}

.footer-credits {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 0.6rem;
}

.credits-link {
  color: #000852;
  text-decoration: underline;
}

.credits-link:hover {
  color: #000852;
  text-decoration: underline;
}

.credits-link:active {
  color: #000852;
  text-decoration: none;
}

.footer-text-wrapper {
  text-align: center;
}

.footer-text {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.685em;
  -webkit-text-fill-color: #ffffff; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000852;
  transition: all 0.4s ease-in;
}

.footer-text-gone {
  margin: 0;
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.685em;
  -webkit-text-fill-color: #ffffff; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000852;
}

/****************************
404
****************************/

.section-404 {
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: animate404 10s linear infinite;
}

.title-404 {
  font-size: 12rem;
  -webkit-text-fill-color: #ffaa7b; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000852;
}

.subtitle-404 {
  margin-top: 2rem;
  font-weight: bold;
}

.image-404 {
  width: 10rem;
  fill: #000852;
}

@keyframes animate404 {
  0% {
    background-color: #ffaa7b;
  }
  50% {
    background: #fff4cb;
  }
  100% {
    background: #ffaa7b;
  }
}

/****************************
Responsive
****************************/

@media screen and (max-width: 576px) {
  /*　Bootstrap xs */
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    background-image: url("../images/hamburger.svg") !important;
  }

  .navbar-toggler-icon svg rect {
    transition: transform 0.4s;
  }
  .toggleMenu1 {
    transform: translate(5px, -1px) rotate(45deg);
    transform-origin: 0 0;
  }
  .toggleMenu2 {
    transform: translate(-8px, 7px) rotate(-45deg);
    transform-origin: 0 0;
  }
  .navbar-collapse {
    box-sizing: border-box;
    padding: 15% 0;
    text-align: center;
    width: 100vw;
    height: 90vh;
    background-color: #ffffff;
    border-radius: 20px;
  }

  .nav-item {
    margin: 8% auto;
  }
  .my-nav-link {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000852;
    margin: auto;
  }
  .my-nav-link svg {
    width: 3rem;
    height: 3rem;
    fill: #000852;
  }
  .nav-link-active {
    border-bottom: 3px solid #000852;
    padding-bottom: 2px;
  }
  .section-hero {
    padding-top: 100px;
    margin-bottom: 0%;
    height:90vh;
  }
  .hero-image-wrapper {
    width: 100%;
    height: 100%;
  }
  .hero-image {
    width: 100%;
  }
  .hero-image-background {
    width: 105%;
  }
  .hero-title-wrapper {
    position: relative;
    width: 90%;
  }
  .hero-title-fill {
    -webkit-text-fill-color: #ffaa7b; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000852;
    animation: animateHeroTitleFill 0s;
  }
  .hero-subtitle {
    color: white;
    background-color: #000852;
    display: inline-block;
  }
  .credits {
    font-size: 0.2rem;
    bottom: 10rem;
  }
  .schedule-title {
    margin-bottom: 6rem;
  }
  .title-menu {
    font-size: 2rem;
  }
  .class-title {
    font-size: 1.5rem;
  }
  .fade {
    opacity: 1;
  }
  .section-schedule {
    padding: 100px 20px;
  }
  .class-wrapper {
    width: 100%;
  }
  .class-text-wrapper {
    padding: 1rem;
  }
  .btn-book {
    width: 60%;
    background-color: #000852;
  }
  .section-subscriptionAbout {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .subscription-title {
    font-size: 3rem;
  }
  .subscription-explanation {
    width: 100%;
  }
  .btn-subscription {
    margin: 2rem auto;
  }
  .subscription-icon-wrapper {
    display: none;
  }

  .section-subscriptionContents {
    padding: 3rem 0;
  }

  .subscriptionContents-title-wrapper {
    flex-direction: column;
    margin-bottom: 3em;
  }

  .subscriptionContents-title {
    font-size: 1.5rem;
    margin: 15px auto;
  }

  .subscriptionContents-explanation {
    font-size: 1rem;
    width: 100%;
  }

  .subscriptionContent-border {
    width: 100%;
    margin-bottom: 4rem;
  }

  .subscriptionContent-subtitle {
    font-size: 1rem;
  }

  .subscriptionContent-explanation {
    font-size: 1rem;
  }

  .subscriptionContent-image {
    border-radius: 10px;
    margin-top: auto;
  }

  .subscriptionContents-fee-wrapper {
    margin-top: 2rem;
  }

  .subscriptionContents-fee-small {
    font-size: 1.5rem;
  }

  .subscriptionContents-fee-large {
    font-size: 4rem;
  }

  .section-subscriptionWarning {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .subscription-warning-list {
    margin-bottom: 100px;
  }

  .subscription-CTA {
    font-size: 1.5rem;
    padding: 1rem 1rem;
  }

  .section-meditationHero{
    position: relative;
    height:95vh;
  }
  
  .meditationHero-image-wrapper{
    position: absolute;
    top:30%;
    right:-50%;
  }

  .bullet-text{
    width:100%;
    font-size: 1rem;
  }

  .meditationAbout-text{
    font-size: 1rem;
  }

  .meditationCurriculum-title{
    font-size: 1.2rem;
  }

  .meditationFee-item{
    flex-direction: column;
    align-items: center;
  }

  .meditationFee-number{
    font-size: 1.5rem;
  }

  .meditationFee-wrapper{
    margin-left: 0;
  }

  .meditationFee-title{
    font-size: 1.5rem;
    text-align: center;
  }

  .meditationFee-explanation{
    font-size: 1rem;;
  }

  .large{
    font-size: 1.2rem;
  }

  .meditationTrial-title{
    font-size: 1.2rem;
  }

  .meditationTrial-text{
    font-size: 1.2rem;
    width:80%;
    margin: auto;
  }

  .section-favourites {
    padding: 1rem;
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .section-favourites.first {
    padding-top: 200px;
  }
  .btn-favourite-wrapper {
    margin: 1rem 0 3rem;
    text-align: left;
  }
  .btn-favourite {
    width: 60%;
    border-radius: 10px;
  }
  .favourites-title {
    font-size: 2rem;
  }

  .favourites-text {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 25px;
  }

  .favourites-image {
    width: 80%;
  }
  .section-profile {
    padding: 1rem;
    padding-top: 100px;
  }
  .profile-image {
    width: 100%;
    border-radius: 5%;
  }
  .profile-title {
    margin-top: 2rem;
  }
  .credits-profile {
    top: 8rem;
  }
  .section-say-hi {
    padding: 4rem 1rem;
  }
  .say-hi-text {
    font-size: 1rem;
  }
  .say-hi-icons {
    justify-content: center;
  }
  .say-hi-icon {
    height: 3rem;
    margin: 1rem 6rem;
  }

  .footer-copyright {
    margin: 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 0.5rem;
    transform: translateX(-50%);
    text-align: center;
  }
  .footer-credits {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0.5em;
    transform: translate(-50%, -50%);
  }
  .title-404 {
    font-size: 6rem;
  }

  .subtitle-404 {
    padding: 2rem;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1rem;
    font-weight: bold;
  }

  .image-404 {
    height: 8rem;
    fill: #000852;
  }

  .section-hypnobirthHero{
    position: relative;
    padding: 150px 0 150px;
  }

  .hypnobirthHero-title{
    font-size: 42px;
  }

  .hypnobirthHero-subtitle{
    font-size: 32px;
  }

  .hypnobirthHero-explanation{
    position: relative;
    display: inline;
    z-index: 5;
    background-color: #fff4cb;
  }

  .hypnobirthHero-image-wrapper{
    position: absolute;
    top:30%;
    right:-40%;
    z-index: 0;
  }

  .btn-subscription.block{
    display: block;
    width:80%;
    margin: 2rem 0;
  }

  .section-hypnobirthAbout{
    position: relative;
    z-index: 1;
  }

  .hypnobirthAbout-explanation{
    font-size: 1rem;
  }

  .hypnobirthContent-text{
    font-size: 1rem;
  }

  .hypnobirthContent-border {
    padding: 2rem;
  }
  
  .hypnobirthContent-index {
    font-size: 1.5rem;
  }
  
  .hypnobirthContent-title {
    font-size: 1.5rem;
  }

  .hypnobirthDetails-item{
    margin-left: 10px;
    margin-bottom: 60px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  /*　Bootstrap sm 　*/
  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    background-image: url("../images/hamburger.svg") !important;
  }

  .navbar-toggler-icon svg rect {
    transition: transform 0.4s;
  }
  .toggleMenu1 {
    transform: translate(5px, -1px) rotate(45deg);
    transform-origin: 0 0;
  }
  .toggleMenu2 {
    transform: translate(-8px, 7px) rotate(-45deg);
    transform-origin: 0 0;
  }
  .navbar-collapse {
    box-sizing: border-box;
    padding: 15% 0;
    text-align: center;
    width: 100vw;
    height: 90vh;
    background-color: #ffffff;
    border-radius: 20px;
  }

  .nav-item {
    margin: 5% auto;
  }
  .my-nav-link {
    font-size: 2rem;
    font-weight: bold;
    color: #000852;
    margin: auto;
  }
  .my-nav-link svg {
    width: 4rem;
    height: 4rem;
    fill: #000852;
  }
  .nav-link-active {
    border-bottom: 3px solid #000852;
    padding-bottom: 2px;
  }
  .hero-image-wrapper {
    width: 100%;
    height: 100%;
  }
  .hero-image {
    width: 70%;
    position: absolute;
    left: 0px;
    top: 30%;
    z-index: 5;
    animation: animateHero 2s ease;
  }
  .hero-image-background {
    width: 75%;
    position: absolute;
    left: -30px;
    top: 30%;
    z-index: 0;
    animation: animateHeroBackground 2s ease;
  }
  .btn-book {
    width: 80%;
    background-color: #000852;
  }

  .section-subscriptionAbout {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .subscription-title {
    font-size: 3rem;
  }
  .subscription-explanation {
    width: 80%;
  }
  .btn-subscription {
    margin: 2rem auto;
  }
  .subscription-icon {
    padding: 2rem 1rem;
    font-size: 2rem;
    border: 2px solid #001652;
    -webkit-text-stroke-width: 2px;
    height: 240px;
    right: 20px;
    text-align: center;
  }

  @keyframes animateSubscription {
    0% {
      bottom: -90px;
    }
    50% {
      bottom: -100px;
    }
    100% {
      bottom: -90px;
    }
  }

  .section-subscriptionContents {
    padding: 3rem 0;
  }

  .subscriptionContents-title-wrapper {
    flex-direction: column;
    margin-bottom: 3em;
  }

  .subscriptionContents-title {
    font-size: 1.5rem;
    margin: 15px auto;
  }

  .subscriptionContents-explanation {
    font-size: 1rem;
    width: 100%;
  }

  .subscriptionContent-border {
    width: 100%;
    margin-bottom: 4rem;
  }

  .subscriptionContent-subtitle {
    font-size: 1rem;
  }

  .subscriptionContent-explanation {
    font-size: 1rem;
  }

  .subscriptionContent-image {
    border-radius: 10px;
    margin-top: auto;
  }

  .subscriptionContents-fee-wrapper {
    margin-top: 2rem;
  }

  .subscriptionContents-fee-small {
    font-size: 1.5rem;
  }

  .subscriptionContents-fee-large {
    font-size: 4rem;
  }

  .section-subscriptionWarning {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .subscription-warning-list {
    margin-bottom: 100px;
  }

  .subscription-CTA {
    font-size: 1.5rem;
    padding: 1rem 1rem;
  }

  .section-meditationHero{
    position: relative;
    height:80vh;
  }
  
  .meditationHero-image-wrapper{
    position: absolute;
    top:30%;
    right:-50%;
  }

  .bullet-text{
    width:100%;
    font-size: 1rem;
  }

  .meditationAbout-text{
    font-size: 1rem;
  }

  .meditationCurriculum-title{
    font-size: 1.2rem;
  }

  .meditationFee-item{
    flex-direction: column;
    align-items: center;
  }

  .meditationFee-number{
    font-size: 1.5rem;
  }

  .meditationFee-wrapper{
    margin-left: 0;
  }

  .meditationFee-title{
    font-size: 1.5rem;
    text-align: center;
  }

  .meditationFee-explanation{
    font-size: 1rem;;
  }

  .large{
    font-size: 1.2rem;
  }

  .meditationTrial-title{
    font-size: 1.2rem;
  }

  .meditationTrial-text{
    font-size: 1.2rem;
    width:80%;
    margin: auto;
  }

  .section-favourites {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  .btn-favourite {
    width: 100%;
    border-radius: 10px;
  }
  .favourites-image-wrapper {
    text-align: center;
  }
  .favourites-image {
    width: 90%;
  }
  .section-profile {
    padding-top: 100px;
  }
  .profile-title {
    margin-top: 2rem;
  }
  .profile-image {
    width: 100%;
    border-radius: 5%;
  }
  .section-say-hi {
    padding: 4rem 1rem;
    border-radius: 12px;
  }
  .say-hi-icons {
    flex-direction: column;
    align-items: center;
  }
  .say-hi-icon {
    height: 3rem;
    margin: 2rem 2rem 0;
    animation: animateIcons 2s ease infinite;
  }
  .title-404 {
    font-size: 6rem;
  }

  .subtitle-404 {
    padding: 2rem;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1rem;
    font-weight: bold;
  }

  .image-404 {
    height: 8rem;
    fill: #000852;
  }

  .section-hypnobirthHero{
    position: relative;
  }

  .hypnobirthHero-explanation{
    position: relative;
    display: inline;
    z-index: 5;
    background-color: #fff4cb;
  }

  .hypnobirthHero-image-wrapper{
    position: absolute;
    top:30%;
    right:-50%;
    z-index: 0;
  }

  .btn-subscription.block{
    display: block;
    width:60%;
    margin: 2rem 0;
  }
  
  .hypnobirthDetails-item{
    margin-bottom: 100px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /*　Bootstrap md 　*/
  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    background-image: url("../images/hamburger.svg") !important;
  }

  .navbar-toggler-icon svg rect {
    transition: transform 0.4s;
  }
  .toggleMenu1 {
    transform: translate(5px, -1px) rotate(45deg);
    transform-origin: 0 0;
  }
  .toggleMenu2 {
    transform: translate(-8px, 7px) rotate(-45deg);
    transform-origin: 0 0;
  }
  .navbar-collapse {
    box-sizing: border-box;
    padding: 5% 0;
    text-align: center;
    width: 100vw;
    height: 90vh;
    background-color: #ffffff;
    border-radius: 20px;
  }

  .nav-item {
    margin: 5% auto;
  }
  .my-nav-link {
    font-size: 2rem;
    font-weight: bold;
    color: #000852;
    margin: auto;
  }
  .my-nav-link svg {
    width: 4rem;
    height: 4rem;
    fill: #000852;
  }
  .nav-link-active {
    border-bottom: 3px solid #000852;
    padding-bottom: 2px;
  }
  .hero-image-wrapper {
    width: 100%;
    height: 100%;
  }
  .hero-image {
    width: 70%;
    position: absolute;
    left: 0px;
    top: 30%;
    z-index: 5;
    animation: animateHero 2s ease;
  }
  .hero-image-background {
    width: 75%;
    position: absolute;
    left: -30px;
    top: 30%;
    z-index: 0;
    animation: animateHeroBackground 2s ease;
  }
  .btn-book {
    width: 80%;
    background-color: #000852;
  }

  .section-subscriptionAbout {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .subscription-title {
    font-size: 3rem;
  }
  .subscription-explanation {
    width: 70%;
  }
  .btn-subscription {
    margin: 2rem auto;
  }
  .subscription-icon {
    padding: 2rem 1rem;
    font-size: 3rem;
    border: 2px solid #001652;
    -webkit-text-stroke-width: 2px;
    height: 350px;
    right: 10px;
    text-align: center;
  }

  @keyframes animateSubscription {
    0% {
      bottom: 100px;
    }
    50% {
      bottom: 110px;
    }
    100% {
      bottom: 100px;
    }
  }

  .section-subscriptionContents {
    padding: 3rem 0;
  }

  .subscriptionContents-title-wrapper {
    flex-direction: column;
    margin-bottom: 3em;
  }

  .subscriptionContents-title {
    font-size: 1.5rem;
    margin: 15px auto;
  }

  .subscriptionContents-explanation {
    font-size: 1rem;
    width: 80%;
  }

  .subscriptionContent-border {
    width: 100%;
    margin-bottom: 4rem;
  }

  .subscriptionContent-subtitle {
    font-size: 1rem;
  }

  .subscriptionContent-explanation {
    font-size: 1rem;
  }

  .subscriptionContent-image {
    border-radius: 10px;
    margin-top: auto;
  }

  .subscriptionContents-fee-wrapper {
    margin-top: 2rem;
  }

  .subscriptionContents-fee-small {
    font-size: 1.5rem;
  }

  .subscriptionContents-fee-large {
    font-size: 4rem;
  }

  .section-subscriptionWarning {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .subscription-warning-list {
    margin-bottom: 100px;
  }

  .subscription-CTA {
    font-size: 1.5rem;
    padding: 1rem 1rem;
  }

  .bullet-text{
    width:100%;
  }

  .meditationCurriculum-title{
    font-size:1.5rem;
  }

  .meditationFee-number{
    font-size: 1.8rem;
  }

  .meditationFee-title{
    font-size: 1.8rem;
  }

  .meditationFee-explanation{
    font-size: 1rem;;
  }

  .large{
    font-size: 1.2rem;
  }

  .meditationTrial-title{
    font-size: 1.2rem;
  }

  .meditationTrial-text{
    font-size: 1.2rem;
    width:80%;
    margin: auto;
  }

  .section-favourites {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  .btn-favourite {
    width: 100%;
    border-radius: 10px;
  }
  .favourites-image-wrapper {
    text-align: center;
  }
  .favourites-image {
    width: 90%;
  }
  .section-profile {
    padding-top: 100px;
  }
  .profile-title {
    margin-top: 2rem;
  }
  .profile-image {
    width: 100%;
    border-radius: 5%;
  }
  .section-say-hi {
    padding: 4rem 1rem;
    border-radius: 12px;
  }
  .say-hi-icons {
    flex-direction: column;
    align-items: center;
  }
  .say-hi-icon {
    height: 3rem;
    margin: 2rem 2rem 0;
    animation: animateIcons 2s ease infinite;
  }
  .title-404 {
    font-size: 6rem;
  }

  .subtitle-404 {
    padding: 2rem;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1rem;
    font-weight: bold;
  }

  .image-404 {
    height: 8rem;
    fill: #000852;
  }

  .hypnobirthHero-image{
    width:150px;
    padding:0;
  }
  .hypnobirthDetails-item{
    width: 100%;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  /*　Bootstrap lg 　*/
  .subscription-explanation {
    width: 80%;
  }
  .subscriptionContents-title {
    font-size: 1.5rem;
    margin: 15px auto;
  }
  .subscriptionContents-explanation {
    font-size: 1rem;
    width: 80%;
  }
  .meditationCurriculum-title{
    font-size:1.5rem;
  }
  .hypnobirthDetails-item{
    margin-bottom: 100px;
  }
}
